.modal-input {
  border: none !important;
  background-color: white;
  outline: none;
  color: black;
  font-size: 16px;
  font-family: system-ui;
  width: 100%;
  resize: none;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: none !important;
}

.ql-container.ql-snow {
  font-size: 20px;
  font-family: system-ui;
}

.picture-icon {
  color: #0073b1;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.preview-image {
  width: 100%;
  margin-top: 20px;
}

.posts-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Media queries for responsiveness */

/* 200px to 300px */
@media (max-width: 300px) {
  .modal-input {
    font-size: 14px;
  }

  .ql-container.ql-snow {
    font-size: 18px;
  }

  .picture-icon {
    bottom: 10px;
    font-size: 18px;
  }

  .preview-image {
    margin-top: 10px;
  }
}

/* 300px to 400px */
@media (min-width: 301px) and (max-width: 400px) {
  .modal-input {
    font-size: 15px;
  }

  .ql-container.ql-snow {
    font-size: 19px;
  }

  .picture-icon {
    bottom: 15px;
    font-size: 20px;
  }

  .preview-image {
    margin-top: 15px;
  }
}

/* 400px to 600px */
@media (min-width: 401px) and (max-width: 600px) {
  .modal-input {
    font-size: 16px;
  }

  .ql-container.ql-snow {
    font-size: 20px;
  }

  .picture-icon {
    bottom: 20px;
    font-size: 22px;
  }

  .preview-image {
    margin-top: 20px;
  }
}
